<div>
  <div><%= folder3.name %></div>
  <div><ul>
    <% folder3.cached_children.each do |child_folder3| %>
      <li><%= render partial: 'three/folder3', locals: {folder3: child_folder3} %></li>
    <% end %>
  </ul></div>
</div>